<!doctype html>
<html lang="en" dir="ltr">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#4188c9">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="{% static './favicon.ico' %}" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}" />
        <title> Student | Enstitute </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
        <script src="{% static './assets/js/require.min.js' %}"></script>
        <script>requirejs.config({baseUrl: '.'});</script>
        <!-- Dashboard Core -->
        <link href="{% static './assets/css/dashboard.css' %}" rel="stylesheet" />
        <script src="{% static './assets/js/dashboard.js' %}"></script>
        <!-- c3.js Charts Plugin -->
        <link href="{% static './assets/plugins/charts-c3/plugin.css' %}" rel="stylesheet" />
        <script src="{% static './assets/plugins/charts-c3/plugin.js' %}"></script>
        <!-- Google Maps Plugin -->
        <link href="{% static './assets/plugins/maps-google/plugin.css' %}" rel="stylesheet" />
        <script src="{% static './assets/plugins/maps-google/plugin.js' %}"></script>
        <!-- Input Mask Plugin -->
        <script src="{% static './assets/plugins/input-mask/plugin.js' %}"></script>
        <!-- Datatables Plugin -->
        <script src="{% static './assets/plugins/datatables/plugin.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body class="">
        <div class="page">
            <div class="flex-fill">
                <div class="header py-4">
                    <div class="container">
                        <div class="d-flex">
                            <a class="header-brand" href="../">
                                <img src="{% static './demo/brand/tabler.svg' %}" class="header-brand-img" alt="tabler logo">
                            </a>
                            <div class="d-flex order-lg-2 ml-auto">
                                <div class="dropdown">
                                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                        <span class="avatar" style="background-image: url({% static './demo/faces/female/25.jpg' %})"></span>
                                        <span class="ml-2 d-none d-lg-block">
                                        <span class="text-default">  </span>
                                        <small class="text-muted d-block mt-1">Etudiant</small>
                                        </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="#"><i class="dropdown-icon fe fe-log-out"></i> Sign out</a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                                <span class="header-toggler-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="my-3 my-md-5">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card card-profile">
                                    <div class="card-body text-center">
                                        <h3 class="mb-3 fullname "></h3>
                                        <p class="mb-4 address"></p>
                                        <p class="mb-4 group"></p>
                                        <p class="mb-4 nationality"></p>
                                        <p class="mb-4 email"></p>
                                        <p class="mb-4 total-absence"></p>
                                        <p class="mb-4 total-delays "></p>
                                    </div>
                                </div>
                            </div>
                            <!-- table -->
                            <div class="col-lg-8">
                                <div class="card">
                                    <table class="table card-table table-vcenter">
                                        <tr>
                                            <th>#</th>
                                            <th class="d-none d-md-table-cell">Title</th>
                                            <th class="d-none d-md-table-cell">Former</th>
                                            <th class="d-none d-md-table-cell">Total Absences</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
    $( document ).ready( function() {
        // get student
        $.ajax({
            url : '/GetStudent',
            type : 'POST', 
            datatype : 'JSON',
            success: function(result) {
                data = JSON.parse(result); 
                full_name = data[ "full_name" ];
                address = data[ "address" ];
                email = data[ "email" ];
                nationality = data[ "nationality" ];
                group = data[ "group" ];
                $( ".fullname" ).html( full_name );
                $( ".address" ).html( "<strong> Address : </strong>"+ address );
                $( ".group" ).html( "<strong> Groupe : </strong>"+ group );
                $( ".nationality" ).html( "<strong> Nationalité : </strong>"+ nationality );
                $( ".email" ).html( "<strong> Email :</strong>"+ email );
            }       
        });
        // get total absences
        $.ajax({
            url : '/GetTotalAbsences',
            type : 'POST', 
            datatype : 'JSON',
            success: function(result) {
                data = JSON.parse(result); 
                total = data[ "total" ];
                $( ".total-absence" ).html( "<strong> total des absences : </strong>"+ total );
            }       
        });    
        // get total retards
        $.ajax({
            url : '/GetTotalDelays',
            type : 'POST', 
            datatype : 'JSON',
            success: function(result) {
                data = JSON.parse(result); 
                total = data[ "total" ];
                $( ".total-delays" ).html( "<strong> total des retards : </strong>"+ total );
            }       
        });        
        // get MODULES
        $.ajax({
            url : '/GetModules',
            type : 'POST', 
            datatype : 'JSON',
            success: function(result) {
                response = JSON.parse(result);
                data = response["modules"]; 
                $.each(
                    data, function( key, value ){
                        
                    var modules = value[ "module" ]
                    var former = value[ "former" ]

                    $( ".card-table" ).append('\
                        <tr>\
                            <td>' + modules[ "id" ] + '</td>\
                            <td class="d-none d-md-table-cell">' + former[ "firstName" ] + former["lastName"] + '</td>\
                            <td class="d-none d-md-table-cell">' + modules[ "title" ] + '</td>\
                            <td class="d-none d-md-table-cell">' + modules[ "absencesCount" ] + '</td>\
                        </tr>\
                    ');
                });
            }       
        }); 
    });
    </script>
</html>
